@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
  --foreground-rgb: 30, 41, 59;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  min-height: 100vh;
}